<configuration>  
  <system.webServer>
    <handlers>
            <add name="DMS_IIS" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\DMS_IIS\penv\Scripts\python.exe|C:\inetpub\wwwroot\DMS_IIS\penv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\DMS_IIS\penv\Scripts\python.exe|C:\inetpub\wwwroot\DMS_IIS\penv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
        <staticContent>
            <clientCache cacheControlMode="NoControl" cacheControlMaxAge="2.00:00:00" />
        </staticContent>
        <caching>
            <profiles>
                <add extension=".py" policy="DontCache" kernelCachePolicy="CacheUntilChange" />
            </profiles>
        </caching>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="main.app" /> <!-- {name_of_file}.{name_of_flask_app}-->
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\DMS_IIS" />
	<add key="WSGI_LOG" value="C:\inetpub\wwwroot\DMS_IIS\app.log" />
  </appSettings>
</configuration>  